* {
  font-family: "Open Sans";
}

body {
  background-color: #303030;
}

#intro {
  width: 600px;
  position: absolute;
  top: 150px;
  left: 110px;
}

h1 {
  font-size: 55px;
  color: palegreen;
}

p {
  font-size: 28px;
  color: whitesmoke;
}

nav {
  position: absolute;
  top: 175px;
  right: 140px;
}

li {
  font-size: 30px;
  color: whitesmoke;
  display: block;
  border-radius: 4px;
  padding: 4px;
}

nav li:hover {
  color: #303030;
  background-color: palegreen;
}



a {
  color: inherit;
  text-decoration: none;
}